
body#careers {
    color: white;
    background: #1a0000 url('images/careers.jpg') no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 5px #000;
}


main#careersMain {
    height: auto;
}

h1.careers{
    text-align: center;
}

.heading {
    margin-left:1em;
    margin-top:1.5em;
}
hr {
    color: rgb(255, 255, 255, 0.5);
}
h2 {
    text-align:left;
    font-size:1.8em;
}
h2:hover {
    color: orange;
    transition: .2s ease;
    cursor:pointer;
}
.arrow-d {
    line-height:0;
    margin-left:2em;
    margin-top:3em;
}
.arrow-d i {
    margin-left:0.5em;
}
#careers-container {
    background-color: rgb(36, 36, 36,0.5);
    /* width: 60%; */
    padding: 20px;
    margin: 3em 10% 5em 10%;
    border-radius: 10px;
}
.job-desc {
    margin:0 auto;
    background-color: rgb(36, 36, 36,0.7);
    padding:10px;
    border-radius: 10px; 
} 
