#giftcards {
    color: white;
	background: #1a0000 url('images/giftcardBG.jpg') no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 5px #000;
}
#giftcard-display{
    width:400px;
    display: block;
    margin: 0 auto;
    padding-bottom:40px;
}
#giftcard-images{
    display: none;
}
#giftcard-form{
    text-align: center;
}
#giftcard-form input{
    border-radius: 5px;
	padding: 5px 10px;
    border: none;
    display: block;
    margin: 0 auto;
}
#giftcard-radio input {
    display: inline;
    border: none;
    color: #fff;
}
#giftcard-radio label{
    padding-left:30px;
}
.giftcard-inputs{
    padding-bottom:30px;
}
#btnSubmit{
    display:block;
    margin: 0 auto;
}

main#giftcards {
    height: auto;
    margin-bottom: 5em;
}

div#title-wrapper-giftcards {
    margin-top: 60px;
    text-align: center;
    /*position: absolute;*/
    left: 0;
    right: 0;
    margin: auto;
    top: -2em;
}