body#sitemap {
	background-image: url('images/sitemapBG.jpeg');
	color: white;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 5px #000;
}
#backgroundShadow{
	background-color: black;
    background-color: rgba(32, 32, 35, 0.7);
    margin: 10%;
    padding-bottom: 2em;
    border-radius: 10px;
    position: relative;
	bottom: 0;
	font-size: 1.2em;
	text-align: center;
}
#page-list h2{
	font-family: 'Cabin Sketch', cursive;
    margin-top: 1em;
	margin-bottom: 0.2em;
	cursor: pointer;
}

#list-locations{
	color: orange;
	cursor: pointer;
}
.sitemap-location{
	cursor: pointer;
	padding: 12px;
}


#sitemap main {
	height: auto;
}

ul.locationList {
	margin: 0;
	padding: 0;
}

#sitemap-link{
	display: block;
	padding:10px;
	color: orange;
}