#specials-container {
    background-color: rgb(36, 36, 36,0.5);
    width:80%;
    padding:3em 0 3em 0;
    margin: 10em 10% 10em 10%;
    border-radius: 10px;
    text-align: center;
}

.heading {
    text-align: center;
    margin: 0;
}

ul.specialsList {
    margin: 0;
    padding: 0;
}

#day {
    font-size:28px;
}

#main ul li {
    font-size:20px;
    padding-bottom:0.7em;
}

#specials main{
    height: auto;
}


body#specials {
    color: white;
    background: #1a0000 url('images/specials.jpg') no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 5px #000;
}
