
/*left and right margin for Padding: 20%;*/
/*Top and Bottom Padding for sections: 2em*/
.hidden{
	display: none;
}

.hideAboutParagraphs{
	opacity: 0;
}

.hideAboutHeadings{
	opacity: 0;
}

body#home {
	color: white;
	background: #1a0000 url('images/home.jpg') no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 5px #000;
}


.body-wrapper {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}


/*------------------HOME PAGE --------- */
/*-----------Title SECTION--------*/

div#title-wrapper {
	margin-top: 60px;
	text-align: center;
	height: 100vh;
	/*position: absolute;*/
	left: 0;
	right: 0;
	margin: auto;
	top: -2em;
	height: 100vh;

}

/*main {
	background-color: rgba(255, 204, 0, 0.2);

}*/

/*main h1 {
	font-family: 'Cabin Sketch', cursive;
	margin-top: 1em;
	font-size: 5em;
	margin-bottom: 0.2em;
}
*/
.border {
	border-bottom: 4px solid;
	margin: 3em 20% 3em 20%;
	box-shadow: 2px 2px 5px #000;

}


div#down-arrow i {
	font-size: 4em;
	margin-top: 1.4em;

}

#down-arrow i:hover{
	color: orange;
	transition: .2s ease;
}

div#see-menu {
	text-align: center;
	left:0;
	right: 0;
	margin: 0 auto;
}

/*---------------Hours Section------------------*/
section#hours-wrap {
	text-align: center;
	height: 100vh;
}

section#hours-wrap div {
	text-align: center;
	/*position: absolute;*/
	margin: auto;
	padding-top: 10em;
	left: 0;
	right: 0;
/*	background-color: rgba(255, 255, 255, 0.2);
*/	/*height: 100vh;*/
}

#hours-wrap ul {
	padding: 0;
	font-size: 1.3em;
	height: 100vh;
}

#hours-wrap ul li:not(:first-child) {
	margin: .5em 0 .5em 0;

}

/*---------------Specials-Contest Section----------------------*/


section#specials-contest-section {
/*	height: 100vh;
*/	text-align: center;
}

section#specials-contest-section div{
	/*position: absolute;*/
	/*height: 100vh;*/
	padding-right: 10%;
	padding-left: 10%;
/*	background-color: rgba(32, 32, 35,  0.3);*/
	padding: 10em 20% 2em 20%;
	left: 0;
	right: 0;
	margin: auto;
	margin-bottom: 5em;
}

section#specials-contest-section div p {
	font-size: 1.2em;
	line-height: 200%;

}

#specials-contest-section span {
	display: block;
}

#specials-contest-section h2:not(:first-child){
	margin-top: 2em;
}

/*======================MENU PAGE======================================*/

body#menu {
	color: white;
	background: #1a0000 url('images/menu.jpg') no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 5px #000;
}

body#menu main {
	height: auto;
}

body#menu h1{
	text-align: center;
	font-size: 3em;
	margin-left: 0;
	margin-top: 2.5em;

}

#menuHelpBlurb{
	font-size: 20px;
	text-align: center;
}

#menu-wrap {
	background-color: black;
	background-color: rgba(32, 32, 35,  0.5);
	/*	Not sure if this styling is a good idea in terms of consistency.*/
	margin: 10%;
	padding-bottom: 2em;
	border-radius: 10px;
/*	height: 80vh;
*/	font-size: 1.2em;
	position: relative;
	bottom: 0;

}

#leftAngle{
	font-size: 3em;
	position: absolute;
	left:0;
	top:50;
	margin-top: 3em;
	margin-left: 1em;
	cursor: pointer;
}

#leftAngle:hover{
	color: orange;
}

#rightAngle:hover {
	color: orange;
}

#leftAngleText{
	display: block;
	float: right;
	font-size: 20px;
	margin-top: 20px;
	margin-left: 10px;
}

#rightAngleText{
	display: block;
	font-size: 20px;
	float: left;
	font-size: 20px;
	margin-top: 20px;
	margin-right: 10px;
}

#rightAngle {
	font-size: 3em;
	position: absolute;
	right: 0;
	margin-top: 3em;
	margin-right: 1em;
	cursor: pointer;
}

#menu-content {
	display: flex;
	flex-direction: row;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 2em;
	text-align: left;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.menu.hidden {
	display: none;
}





/*=================contest-page============================*/

body#contest {
	color: white;
	background: #1a0000 url('images/contestBG.jpg') no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 5px #000;
}

main.contestMain {
	height: auto;
}

h1#contest-heading{
	margin-top: 1em;
}


div#contest-wrap {
	text-align: center;
	background-color: black;
	background-color: rgba(32, 32, 35,  0.5);
	/*	Not sure if this styling is a good idea in terms of consistency.*/
	margin: 10%;
	border-radius: 10px;



}

div#contest-content {

	padding: 2em;
}

span#timer {
	display: block;
	font-size: 5em;
}


=======
#menu-content div:not(:last-child) {
	margin-right: 1.3em;
}

/*--------- LOCATIONS PAGE --------- */

body#location {
	color: white;
	background: #1a0000 url('images/LocationBG.jpg') no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 5px #000;
}

.body-wrapper {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.contest-instruction {
	font-size: 2em;
}

#contestMessage {
	color: red;
	font-size: 2em;
}

/*------------------Locations Page --------- */
/*-----------Title SECTION--------*/

div#locations-title-wrapper {
	margin-top: 60px;
	text-align: center;
	height: 100vh;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: -2em;
	height: 100vh;

}

main h1 {
	font-family: 'Cabin Sketch', cursive;
	margin-top: 1em;
	font-size: 5em;
	margin-bottom: 0.2em;
}

.locations-border {
	border-bottom: 4px solid;
	margin: 1em 27% 2em 27%;
	box-shadow: 2px 2px 5px #000;

}

div#down-arrow i {
	font-size: 4em;
	margin-top: 1.4em;

}

#down-arrow i:hover{
	color: orange;
	transition: .2s ease;
}

/*---------------Location Section------------------*/
section#locations-wrap {
	text-align: center;
	height: 100vh;
	color: white;
	background: #1a0000 url('images/LocationBG2.jpg') no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

section#locations-wrap div {
	text-align: center;
	position: absolute;
	margin: auto;
	padding-top: 0;
	left: 0;
	right: 0;
	height: 100vh;
}

section#locations-wrap div h2{
	background-color: rgba(32, 32, 35,  0.3);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 2em;
	margin-top: 2em;
	margin-bottom: 0;
}

section#locations-wrap div#picture-container{
	display:flex;
	flex-direction: row;
	text-align: center;
	margin-left: 3.25em;
}

section#locations-wrap div#picture-container div#locationOne{
	display:flex;
	padding-top: 5em;
}

section#locations-wrap div#picture-container div#locationTwo{
	display: flex;
	padding-top: 5em;
	margin-left: 30em;
}

section#locations-wrap div#picture-container div#locationThree{
	display:flex;
	padding-top: 5em;
	margin-left: 60.25em;
}

#etobicokeTextHeading{
	position: absolute;
	margin-left: 3.25em;
	margin-top: 6em;
	font-size: 40px;
}

div#picture-container #addressEtobicoke{
	position: absolute;
	margin-top: 16em;
	margin-left: 3.75em;
}

div#locationTwo h1{
	position: absolute;
	margin-left: 2.75em;
	margin-top: 4em;
	font-size: 40px;
}

div#picture-container #addressMississauga{
	position: absolute;
	margin-top: 16em;
	margin-left: 29.5em;
}

#mississaugaTextHeading{
	position: absolute;
	margin-left: 15em;
	margin-top: 6em;
	font-size: 40px;
}

div#picture-container #addressMarkham{
	position: absolute;
	margin-top: 16em;
	margin-left: 55em;
}

#markhamTextHeading{
	position: absolute;
	margin-left: 27.5em;
	margin-top: 6em;
	font-size: 40px;
}

div#locationThree h1{
	position: absolute;
	margin-left: 3.25em;
	margin-top: 4em;
	font-size: 40px;
}

#locationOneImage{
	height: 25em;
	width: 28.13em;
	border: 2px solid white;
}

#locationTwoImage{
	height: 25em;
	width: 28.13em;
	border: 2px solid white;
}

#locationThreeImage{
	height: 25em;
	width: 28.13em;
	border: 2px solid white;
}


/*--------- ETOBICOKE LOCATIONS PAGE --------- */

body#etobicoke {
	color: white;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 5px #000;
}

.body-wrapper {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

/*------------------Etobicoke Locations Page --------- */
#graphic-container{
	height: 725px;
}

#etobicokeGraphic{
	max-width: 55%;
	height: 100%;
}

#information-container{
	position: absolute;
	top: -5em;
	left: 57em;
}

#information-container h1{
	font-size: 3em;
	color: black;
}

#information-container h2{
	font-size: 1.1em;
	color: black;
	text-shadow: none;
}

#information-container h3{
	font-size: 1em;
	color: black;
	text-shadow: none;
}

#etobicoke-hours-wrap{
	position: absolute;
	left: 57em;
	top: 15em;
}

#etobicoke-hours-wrap h2{
	margin-top: 7em;
	margin-bottom: -7em;
	color: black;
	text-shadow: none;
}

#etobicoke-hours-wrap ul{
	margin-top: 11em;
	margin-left: -3em;
	color: black;
	text-shadow: none;
}

#map{
	margin-top: -20em;
	margin-left: 70em;
	height: 300px;
	width: 25%;
}

/*--------- MISSISSAUGA LOCATIONS PAGE --------- */

body#mississauga {
	color: white;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 5px #000;
}

/*------------------Mississauga Locations Page --------- */
#graphic-container{
	height: 725px;
}

#mississaugaGraphic{
	max-width: 55%;
	height: 100%;
}

#information-container{
	position: absolute;
	top: -5em;
	left: 57em;
}

#information-container h1{
	font-size: 3em;
	color: black;
}

#information-container h2{
	font-size: 1.1em;
	color: black;
	text-shadow: none;
}

#information-container h3{
	font-size: 1em;
	color: black;
	text-shadow: none;
}

#mississauga-hours-wrap{
	position: absolute;
	left: 57em;
	top: 15em;
}

#mississauga-hours-wrap h2{
	margin-top: 7em;
	margin-bottom: -7em;
	color: black;
	text-shadow: none;
}

#mississauga-hours-wrap ul{
	margin-top: 11em;
	margin-left: -3em;
	color: black;
	text-shadow: none;
}

#mississaugaMap{
	margin-top: -20em;
	margin-left: 70em;
	height: 300px;
	width: 25%;
}

/*--------- MARKHAM LOCATIONS PAGE --------- */

body#markham {
	color: white;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 5px #000;
}

/*------------------Markham Locations Page --------- */
#graphic-container{
	height: 725px;
}

#markhamGraphic{
	max-width: 55%;
	height: 100%;
}

#information-container{
	position: absolute;
	top: -5em;
	left: 57em;
}

#information-container h1{
	font-size: 3em;
	color: black;
}

#information-container h2{
	font-size: 1.1em;
	color: black;
	text-shadow: none;
}

#information-container h3{
	font-size: 1em;
	color: black;
	text-shadow: none;
}

#markham-hours-wrap{
	position: absolute;
	left: 57em;
	top: 15em;
}

#markham-hours-wrap h2{
	margin-top: 7em;
	margin-bottom: -7em;
	color: black;
	text-shadow: none;
}

#markham-hours-wrap ul{
	margin-top: 11em;
	margin-left: -3em;
	color: black;
	text-shadow: none;
}

#markhamMap{
	margin-top: -20em;
	margin-left: 70em;
	height: 300px;
	width: 25%;
}

/*--------- ABOUT PAGE --------- */
#back-to-top{
	color: white;
}

body#about {
	margin: 0;
	padding: 0;
}

.body-wrapper nav{
	color: white;
}

#footer-wrapper{
	color: white;
}

#aboutMain{
	color: white;
	background-size: cover;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 5px #000;
	background: #1a0000 url('images/aboutBG.jpg') no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.body-wrapper {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

/*------------------ABOUT Page --------- */
/*-----------Title SECTION--------*/

div#about-title-wrapper {
	margin-top: 60px;
	text-align: center;
	height: 100vh;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	height: 100vh;

}

main h1 {
	font-family: 'Cabin Sketch', cursive;
	margin-top: 3em;
	font-size: 5em;
	margin-bottom: 0.2em;
}

.about-border {
	border-bottom: 4px solid;
	margin: 1em 37% 2em 37%;
	box-shadow: 2px 2px 5px #000;

}

#ourBeginnings{
	height: 100vh;

}

#ourBeginnings h1{
	font-family: 'Cabin Sketch', cursive;
	text-align: center;
	font-size: 5em;
	margin-bottom: 0;
}

#ourBeginnings h2{
	font-style: italic;
	text-align: center;
	letter-spacing: 0.08em;
}

#storyParagraph{
	padding-top: 1em;
	text-align: center;
}

#ourBeginningsSecondHeading{
	font-family: 'Cabin Sketch', cursive;
	text-align: center;
	padding-top: 2em;
}

/*======================CONTACT PAGE======================================*/
body#contact {
	background-image: url('images/contactBg.jpg');
	color: white;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 5px #000;
}

#contact main h1,
#events  main h1{
	margin-top: 1em;
	text-align: center;
}

form#contactForm * {
  display: block;
  margin: 10px auto;
	text-align: center;
}

#contactForm {
	padding: 20px;
}

#contactForm input,
#contactForm textarea {
	border-radius: 5px;
	padding: 5px 10px;
	border: none;
}

#btnSubmit,
#controls button,
#controls [type="submit"] {
	padding: 10px 5px;
	border-radius: 5px;
	border: none;
	width: 150px;
	justify-content: center;
}

.form-wrapper {
	background-color: rgba(32, 32, 35, 0.5);
	margin: 10%;
	border-radius: 10px;
	font-size: 1.2em;
	position: relative;
	max-width: 1200px;
  margin: 10% auto;
}

.hidden {
	display: none;
}

#contact #errors {
	width: 300px;
	background: tomato;
	text-align: center;
	margin: 0 auto;
}


/*======================EVENT PAGE======================================*/

body#events {
	background-image: url('images/events.jpg');
	color: white;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	text-shadow: 2px 2px 5px #000;
}

#events main,
#contact main {
	height: inherit;
}

#events .field-group * {
	display: block;
	margin: 5px auto;
	text-align: center;
}

#events #locations *:not(h3) {
	display: inline-block;
	margin-right: 20px;
}

#events .ui-datepicker-trigger,
#events #eventDate {
	display: inline-block;
}

#events .ui-datepicker-trigger {
	position: absolute;
	top: 33px;
	margin-left: 5px;
}

.field-group {
	margin-bottom: 20px;
	position: relative;
}

#events input,
#events textarea,
#events select {
	border-radius: 5px;
	padding: 5px 10px;
	border: none;
}

#eventsForm {
	text-align: center;
	padding: 20px;
}

.validationMsg {
	font-size: 12px;
	text-shadow: none;
}

.validationMsg.invalid,
.validationMsg.empty {
	color: tomato;
}

.valid-field {
	background-color: lightgreen;
}

.validation-error {
	background-color: tomato;
}

.formWizard, #prevButton, #submitButton {
	display: none;
}

.active {
	display: block;
}

#events .other-event {
	display: none;
}

#events #result,
#contact #result {
	display: none;
	min-height: 40vh;
  text-align: center;
}

.inline {
	display: inline-flex!important;
}

/*=======Careers========================*/
body#careers {
    color: white;
    background: #1a0000 url('images/careers.jpg') no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 5px #000;
}
