/*===========CONSISTENT PAGE STYLES=====================*/
* {
	box-sizing: border-box;
}

html {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer
}

body.blank {
	display: none;
	opacity: 0;
}

body {
	animation: fadein 1s;
	-webkit-animation: fadein 1s;

}



main {
	height: 100vh;
	margin:0;

}

ul li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/*---------- NAVIGATION --------------------*/
nav {
	position: fixed;
	width: auto;
	right: 0;
	top: 0;
	left: 0;
	z-index: 999;
	height: 5em;
	transition: .2s ease;
	background-color: #202023;	
	font-size: 1em;
	font-family: sans-serif;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: auto;
	padding: 1em;
}

ul li:nth-child(2) {
	margin-left: auto;

}

nav ul li a {
	padding: 1.3em;
}

nav ul li a:hover {
	color: orange;
	transition: .3s ease-in-out;
}

#logo{
	width: 80px;
	position: absolute;
	top: 0;
}

/*===============BACK TO TOP ARROW=========================*/
#back-to-top{
	font-size: 3em;
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 0.5em;
	z-index: 9999999;

}

#back-to-top:hover{
	color: orange;
	transition: .3s ease-in-out;
}

/*==========FOOTER===============*/
footer {
	margin:0;
	padding: 2em 0 2em 0;
	background-color: #202023;
	font-size: 0.8em;
}

#footer-wrap div {
	margin: 0;
	display: inline;
}

ul#footer-list{
	padding: 0;
	margin: 0;

}

ul#footer-list ul {
	padding: 0;
}

ul#footer-list ul {
	margin-bottom: 1em;
}

li#footer-careers{
	margin-bottom: 1em;
}


#footer-wrapper {
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

div#siteMapLink {
	align-self: flex-end;
}

/*Buttons*/


.linkButton {
	appearance: button;
	background-color: #202023;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 10px;
	font-size: 1.3em;
	padding: 0.5em;
	border-radius: 5px;
	transition: .2s ease;
}

.linkButton:hover {
	background-color: #0C0C0D;
	color: orange;
	transition: .2s ease;

}
/*=================ANIMATIONS===================*/
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}